#order form {
    max-width: 90rem;
    border-radius: 0.5rem;
    border-radius: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

#order form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#order form .input-box .input {
    width: 49%;
}

#order form .input-box .input span {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

#order form .input-box .input input,
#order form .input-box .input textarea {
    font-size: 1.6rem;
    background: #eee;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
    border: 0.2rem solid #eee;
    transition: 0.2s;
}
#order form .input-box .input input:focus,
#order form .input-box .input textarea:focus {
    border: 0.2rem solid var(--green);
}

#order form .input-box .input textarea {
    height: 20rem;
    resize: none;
}

#order form .btn {
    display: inline-block;
    padding: 0.5rem 0.7rem;
}

/* .btn:hover{
    background-color: var(--green);
    border-radius: 1rem;
    font-weight: bolder;
} */